@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS */
    
  }
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second {
    font-size: 1.5rem;
    font-weight: bold;
}